<h1>Edit Item</h1>
<div>
  <%= form_for @item do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <p>Art Type:
      <%= f.fields_for :categories do |category| %>
        <%= category.label :description_id %>
        <%= collection_select(:description, :id, Description.all, :id, :element) %>
      <% end %>
    </p>
    <%= f.submit "Save" %>
  <% end %>
</div>
