<h1>Edit Item</h1>
<div>
  <%= form_for @item do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div>Art Type:
      <div class="field">
        <%= Description.all.each do |description| %>
          <%= check_box_tag "item[description_ids][]", description.id %>
          <%= description.element %> <br>
        <% end %>
      </div>
    </div>
    <%= f.submit "Save" %>
  <% end %>
</div>
