<h1>New Item</h1>
<div>
  <%= form_for @item do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>

      <p>
        Mounting:
        <%= f.fields_for :categories do |category| %>
          <%= category.label :mounting_id %>
          <%= collection_select(:mounting, :id, Mounting.all, :id, :name) %>
        <% end %>
      </p>
    </div>
    <%= f.submit "Save" %>
  <% end %>
</div>
