<%= params %>
<h1>New Item</h1>
<%= form_for @item do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  Mounting Type:
  <p>
    <%= f.fields_for :items_mountings_attributes do |item_mounting| %>
      <%= item_mounting.label :mounting_id %>
      <%= collection_select(:item_mounting, :mounting_id, Mounting.all, :id, :name) %>
      <%#= hidden_field :item_id, @item.id %>
    <% end %>
  </p>
  <div class="actions"><%= f.submit "Save" %></div>
<% end %>
